body{
    background-color:rgb(10, 28, 41) ;
    font-family: Arial, Helvetica, sans-serif;
}

.outer{
    text-align:center;
    color:white;
    padding-top:5px;
    padding-bottom:40px;

}



.pricing-card{
    width:50%;
    height:380px;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    border:1px solid white;
    background-color:rgb(255, 252, 252);
    margin:auto;

}


.blue{
    background-color: white;
}

.white{
    background-color: rgb(10, 28, 41);
    color:white;
}

ul{
    margin-top:30px;
}

li{
   list-style-type: none;
   padding-right:40px;
   margin-top:10px;
   text-align:left;
   font-size:12px;

}

.cards{
   height:350px;
   width:350px;
   margin:20px;
   text-align:center;
   border-radius:5px;
   color:white;
   
        
}
.cards:hover{
    transform: translate(5px,-5px);
    border:4px solid rgba(10, 15, 18);
    box-shadow: 0 0 10px rgba(10, 15, 18); 
    
}




#one{

    background-color:rgb(10, 28, 41);
    border:1px solid white;
}
#two{
    background-color:white;
    border:1px solid rgb(10, 28, 41);
    color:black;
    


}
#three{
    background-color:rgb(10, 28, 41);
    border:1px solid white;


}
button{
    border-radius:50px;
    color:black;
    height:30px;
    width:150px;
    text-align:center;
   
    
}

button:hover{
    background-color:#6594B1;
}

@media (max-width:768px){
    .pricing-card{
        flex-direction:column;
        height:auto;
        width:80%;
    }

    .cards{
        margin-top:20px;
        margin-left:0px;
    }
}